@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  background-color: aliceblue;

}
.App {
  text-align: center;
  background-color: aliceblue;
  margin-bottom: 5em;
}

.header {
  margin-bottom:4em;
  background-image: url("/public/istanbul.jpg");
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
}

.header h1 {
  padding-top: .5em;
  color: aliceblue;
  font-size: 14em;
}

h2 {
  color:rgb(80, 80, 182);
}

h4 {
  color: gray;
}

input {
  width: 400px;
  font-size: 2em;
  margin-bottom: 1em;
  border-radius: 6px;
}

button {
  font-size: 2em;
  background-color: chocolate;
  color:white;
  border-radius: 6px;

}

button:active {
  background-color: rgb(175, 87, 24)
}


.map {
  border: 3px solid chocolate;
  margin: 3em,0;
}

.movies {
  margin-top: 5em;
}

.row {
  margin-left: 10em;
  margin-right: 10em;
  display: flex;
}

#cat {
  border: none;
}

.weather {
 margin-top: 5em;
}
