@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  background-color: aliceblue;

}
.App {
  text-align: center;
  background-color: aliceblue;
  margin-bottom: 5em;
}

.header {
  background-image: url("/public/istanbul.jpg");
  background-position: center;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
}

.header h1 {
  color: #F8F4F0;
  font-size: 12em;
  font-weight: 900;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  box-shadow:#515f966b 2px 2px 3px;
}

.form {
  margin-top: 2em;
  display: flex;
}

.input {
  width: 400px;
  font-size: 1.5em;
  border-radius: 6px;
  color : #515F96;
}

.button, .button:hover {
  font-size: 1.5em;
  height: 2em;
  padding-bottom:1em;
  background-color: #7280A1;
  color:white;
  vertical-align: middle;
  border-radius: 6px;
}

.button:active {
  background-color: #515F96 !important;
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(95, 94, 94, 0.24);
}

h2 {
  color:#9e5929;
  margin-bottom: 2em;
  font-weight: 700;
  font-size: 40px;
}

h4 {
  color: gray;
  font-size: 16px;
}

.location {
  padding: 7em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies {
  padding: 7em;
}

.movies h1 {
  padding-bottom: .5em;
  color : #515F96;
}

.weather {
 padding: 7em;
 padding-bottom: 0;
}

.weather h1 {
  padding-bottom: .5em;
  color : #515F96;
}

.weather h4 {
  font-size: 20px;
}
